<% admin_breadcrumb("Edit Game Account") %>

<div class="col-md-12">
	<%= render(partial: 'form', locals: {url: admin_game_accounts_path(@game_account)}) %>

	<ul class="list-unstyled mt-5 mr-5 float-right">
		<li>
			<a href="/admin/game_accounts" role="button">Back To Game Accounts </a>
		</li>
	</ul>
</div>
