<div class="ml-3">
	<h3>Edit Game Account <%= @game_account.title %></h3>
</div>

<%= render 'form' %>

<ul class="mt-5 mr-5 float-right">
	<li>
	    <a href="/admin/game_accounts" role="button">Back To Game Accounts </a>
	</li>
</ul>